<?xml-stylesheet type="text/xml" href="page.xsl"?>
<!DOCTYPE html PUBLIC "bug in xslt processor requires fake doctype" 
"otherwise css isn't included" [
<!ENTITY % entities SYSTEM "rabbit.ent" >
%entities;
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:doc="http://www.rabbitmq.com/namespaces/ad-hoc/doc"
      xmlns:r="http://www.rabbitmq.com/namespaces/ad-hoc/conformance"
      xmlns:xi="http://www.w3.org/2003/XInclude">
  <head>
    <title>RabbitMQ Server</title>
  </head>
  <body>
    <doc:div>
    <h2>RabbitMQ Server</h2>

    <p class="intro">
      Our goal is to streamline the server installation process such
      that on Linux you can have RabbitMQ up and running within two minutes of
      completing your download. 
      If this doesn't happen to you, please
      let us know at <a
      href="mailto:legitimategrievance@rabbitmq.com">legitimategrievance@rabbitmq.com</a>!
    </p>

    <p>
      The RabbitMQ server is an implementation of an AMQP broker.
      Please see the <a href="specification.html">specification</a> page
      for more information on AMQP interoperation and standards-conformance.
    </p>

    <p>
      RabbitMQ is written on top of the widely-used <a
      href="faq.html#what-is-otp">Open Telecom Platform</a>, and is
      platform neutral; the binary distributions listed below differ
      only in how they are packaged to conform to various operating
      systems' packaging conventions.
    </p>
    <p>
      Please refer to the <a href="platforms.html">platforms</a> page to
      see if RabbitMQ is supported on your operating system.
    </p>
    <p>
      RabbitMQ server uses
      <a href="http://www.erlang.org">Erlang/OTP</a>,
      so a <a href="which-erlang.html">recent version of Erlang</a>
      must be installed to run or compile the server.
      Your operating system may provide an Erlang package,
      or you may need to get it from
      <a href="http://www.erlang.org/download.html">http://www.erlang.org/download.html</a>.
    </p>

    <p>
      Please see the <a href="install.html">installation
      instructions</a>. Additional documentation can be found linked
      from our <a href="documentation.html">documentation page</a>.
    </p>

    <p>
      The server is open-source, and is licensed under <a
      href="mpl.html">the Mozilla Public License v1.1</a>.
    </p>

    <h3>Version</h3>

    <p>
      The current release of the RabbitMQ Server is <b>
      &version-server;</b>.
    </p>

    <h2>Download the RabbitMQ Server</h2>

    <p>
      The server is available in several compiled forms, or as
      source. Notes on particular operating systems and variants can
      be found below the download table.
    </p>

    <r:downloads signature="yes">
      <r:download downloadfile="rabbitmq-server_&version-server;-&serverDebMinorVersion;_all.deb"
		  downloadpath="&dir-server;">
	Packaged as .deb for Debian-based Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;-&serverRPMMinorVersion;.noarch.rpm"
		  downloadpath="&dir-server;">
	Packaged as RPM for Fedora Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;-&serverRPMMinorVersion;.suse.noarch.rpm"
		  downloadpath="&dir-server;">
	Packaged as RPM for openSUSE Linux
      </r:download>

      <r:download downloadfile="rabbitmq-server-generic-unix-&version-server;.tar.gz"
		  downloadpath="&dir-server;">
	Packaged for generic Unix systems (tar.gz)
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;.exe"
		  downloadpath="&dir-server;">
	Installer for Windows systems
      </r:download>
      <r:download downloadfile="rabbitmq-server-windows-&version-server;.zip"
		  downloadpath="&dir-server;">
	Packaged for Windows systems (zip)
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;.zip"
                  downloadpath="&dir-server;">
	Source code and tools (zip)
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;.tar.gz"
                  downloadpath="&dir-server;">
        Source code and tools (tar.gz)
      </r:download>
    </r:downloads>

    <p>
      Please see <a href="signatures.html">checking signatures</a> for
      details on how to verify the signatures on our packages.
    </p>

    <h3>Other versions</h3>

    <p>
      Consult <a href="/releases/rabbitmq-server/">the archive</a> if
      you want to download a version of the RabbitMQ Server other than
      the above.
    </p>

    <h3>Debian GNU/Linux and Ubuntu Linux</h3>

    <p>
      We recommend that you use your distribution's package manager to
      install the server on your system. Check the <a
      href="http://packages.qa.debian.org/r/rabbitmq-server.html">Debian
      package</a> and <a
      href="https://launchpad.net/ubuntu/+source/rabbitmq-server">Ubuntu
      package</a> details for which version of the server is available
      for which versions of the distribution.
    </p>

    <p>
      In case the current version of the server is not available for
      the chosen distribution version, you can download and install
      the .deb file from the table above. It has been tested against
    </p>
    <ul class="compact">
      <li><a href="http://www.debian.org/">Debian</a> 5.0 (Lenny), and
      testing (Squeeze)</li>
      <li><a href="http://www.ubuntu.com/">Ubuntu</a> 8.10 (Intrepid
      Ibex), 9.04 (Jaunty Jackalope), 9.10 (Karmic Koala), 10.04
      (Lucid Lynx) and 10.10 (Maverick Meerkat)</li>
    </ul>

    <p>
      As an alternative to downloading the .deb file you can obtain
      the package from our <a href="debian.html#apt">APT
      repository</a>.
    </p>

    <h3>RPM-based Linux</h3>

    <p>
      For Fedora and RHEL users we recommend to you use the distribution's
      package manager to install the server on your system. Check the
      <a
      href="https://admin.fedoraproject.org/updates/rabbitmq-server">Fedora
      package</a> and <a
      href="http://download.fedora.redhat.com/pub/epel/5/SRPMS/repoview/rabbitmq-server.html">EPEL
      package</a> details for which version of the server is available
      for which versions of the distribution.
    </p>

    <p>
      The Fedora RPM files from the table above have been tested against
    </p>

    <ul class="compact">
      <li><a href="http://fedoraproject.org/">Fedora</a> 10, 11 and 12</li>
      <li><a href="http://www.redhat.com/rhel/">RHEL</a> 5.5 (Fedora RPM)</li>
      <li><a href="http://www.centos.org/">CentOS</a> 5.5 (Fedora RPM)</li>
    </ul>

    <p>
      The openSUSE RPM files are intended for Novell's openSUSE Linux
      and derived distributions (SLES and SLERT).  We haven't tested
      these under recent releases, but expect that they work.
    </p>

    <p>
      If you have success using our RPMs with any other RPM-based
      distribution, please <a href="contact.html">let us know</a>.
    </p>

    <p>
      We strongly recommend using your distribution's packaged version
      of Erlang to run the server. This is part of Fedora, and in <a
      href="http://fedoraproject.org/wiki/EPEL">EPEL</a> for RHEL. To
      enable EPEL on your Red Hat machine, see the <a
      href="http://fedoraproject.org/wiki/EPEL/FAQ#howtouse">EPEL
      FAQ</a>. Then just <code>yum install erlang</code>.
    </p>

    <p>
      <b>Note to users of RHEL 5 and derived distributions
      (e.g. CentOS 5):</b> Due
      to <a href="http://fedoraproject.org/wiki/EPEL/GuidelinesAndPolicies">
      the EPEL package update policy</a>, EPEL 5 contains Erlang
      version R12B-5, which is relatively old.  rabbitmq-server
      supports R12B-5, but performance may be lower than for more
      recent Erlang versions, and certain non-core features are not
      supported (SSL support, HTTP-based plugins).  Therefore, we
      recommend that you install the most recent stable version of
      Erlang.  The easiest way to do this is to use a package
      repository provided for this purpose by the owner of the EPEL
      Erlang package.  Enable it by invoking (as root):
    </p>

    <pre>wget -O /etc/yum.repos.d/epel-erlang.repo http://repos.fedorapeople.org/repos/peter/erlang/epel-erlang.repo</pre>

    <p>
      and then install or update erlang with <code>yum install erlang</code>.
    </p>

    <h3>Mac OS X</h3>

    <p>
      On OS X the server can be installed <a href="macports.html">via
      MacPorts</a>.
    </p>
    <p>
      Alternatively, for users of
      the <a href="http://mxcl.github.com/homebrew/">homebrew</a>
      package manager there is a community-contributed
      <a href="http://github.com/mxcl/homebrew/blob/master/Library/Formula/rabbitmq.rb">'rabbitmq'
      formula</a>.
    </p>

    <h3>Generic Unix</h3>

    <p>
      The architecture-neutral binary package from the table above can
      be used on any Unix or Linux variant.
    </p>

    <h3 id="windows-installer">Windows Installer</h3>
    <p>
      As an alternative to <a href="install.html#windows">installing
      the server manually on Windows</a>, we have an executable
      installer. You will need to install Erlang from its installer
      first.
    </p>

    <h3 id="windows_bundle">Windows Bundle</h3>
    <xi:include href="windows-bundle.xml.inc" xpointer="xmlns(html=http://www.w3.org/1999/xhtml)xpointer(/html:div/*)">
      <xi:fallback><p style="color:red;font-weight:bold">[xinclude failed]</p></xi:fallback>
    </xi:include>

    <h3>Source Code</h3>

    <p>
      For instructions on building the server from the source-code
      bundle in the table above, please see the <a
      href="build-server.html">build page</a>.
    </p>

    <h2>Mercurial repositories</h2>
    <p>
      The RabbitMQ server itself, implemented in Erlang. Depends on the
      code-generation library module. Please see the <a
      href="build-server.html">build page</a> for instructions on
      compiling from source code.
    </p>

    <repositories xmlns="http://www.rabbitmq.com/namespaces/ad-hoc/conformance">
      <repository type="hg" shortname="rabbitmq-server"
        url="http://hg.rabbitmq.com/rabbitmq-server/"/>
      <repository type="hg" shortname="rabbitmq-codegen"
        url="http://hg.rabbitmq.com/rabbitmq-codegen/"/>
    </repositories>

    <h2>Support</h2>
    <p>
      For help compiling or installing RabbitMQ, or for general queries, please <a href="contact.html"> contact us</a>.
    </p>
    </doc:div>
  </body>
</html>
