<?xml-stylesheet type="text/xml" href="page.xsl"?>
<!DOCTYPE html PUBLIC "bug in xslt processor requires fake doctype" 
"otherwise css isn't included" [
<!ENTITY % entities SYSTEM "rabbit.ent" >
%entities;
]>
<html xmlns:doc="http://www.rabbitmq.com/namespaces/ad-hoc/doc"
      xmlns:r="http://www.rabbitmq.com/namespaces/ad-hoc/conformance"
      xmlns:xi="http://www.w3.org/2003/XInclude">
  <head>
    <title>RabbitMQ Server</title>
  </head>
  <body>
    <h2>
      RabbitMQ Server
    </h2>

    <p class="intro">
      Our goal is to streamline the server installation process such
      that you can have RabbitMQ up and running within two minutes of
      completing your download. If this doesn't happen to you, please
      let us know at <a
      href="mailto:legitimategrievance@rabbitmq.com">legitimategrievance@rabbitmq.com</a>!
    </p>
    
    <p>
      The RabbitMQ server is an implementation of an AMQP broker.
      Please see the <a href="specification.html">specification</a> page
      for more information on AMQP interoperation and standards-conformance.
    </p>

    <p>
      RabbitMQ is written on top of the widely-used <a
      href="faq.html#what-is-otp">Open Telecom Platform</a>, and is
      platform neutral; the binary distributions listed below differ
      only in how they are packaged to conform to various operating
      systems' packaging conventions.
    </p>

    <p>
      In order to compile or run the server, you will need to have
      downloaded and installed Erlang/OTP, version R12B-3 or
      higher. Your operating system may come with a package for
      working with Erlang, or you may need to <a
      href="http://www.erlang.org/download.html">download and install
      Erlang</a> yourself.
    </p>

    <p>
      Please see the <a href="install.html">Installation
      instructions</a>. Additional documentation can be found linked
      from our <a href="documentation.html">documentation page</a>.
    </p>

    <p>
      The server is open-source, and is licensed under <a
      href="mpl.html">the Mozilla Public License v1.1</a>.
    </p>

    <h3>
      Version
    </h3>

    <p>
      The current release of the RabbitMQ Server is <b>
      &version-server;</b>.
    </p>

    <h3>
      Download the RabbitMQ Server
    </h3>

    <p>
      The server is available as source, or compiled in a few
      different forms. Notes on particular operating systems and
      variants can be found below the download table.
    </p>

    <r:downloads signature="yes">
      <r:download downloadfile="rabbitmq-server-&version-server;.zip"
                  downloadpath="&dir-server;">
	Source code and tools (zip)
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;.tar.gz"
                  downloadpath="&dir-server;">
        Source code and tools (tar.gz)
      </r:download>
      <r:download downloadfile="rabbitmq-server_&version-server;-&serverDebMinorVersion;_all.deb"
		  downloadpath="&dir-server;">
	Packaged as .deb for Debian-based Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;-&serverRPMMinorVersion;.noarch.rpm"
		  downloadpath="&dir-server;">
	Packaged as RPM for Fedora Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;-&serverRPMMinorVersion;.suse.noarch.rpm"
		  downloadpath="&dir-server;">
	Packaged as RPM for openSUSE Linux
      </r:download>

      <r:download downloadfile="rabbitmq-server-generic-unix-&version-server;.tar.gz"
		  downloadpath="&dir-server;">
	Packaged for generic Unix systems
      </r:download>
      <r:download downloadfile="rabbitmq-server-windows-&version-server;.zip"
		  downloadpath="&dir-server;">
	Packaged for Windows systems
      </r:download>
    </r:downloads>

    <p>
      Please see <a href="signatures.html">checking signatures</a> for
      details on how to verify the signatures on our packages.
    </p>

    <h4>Other versions</h4>

    <p>
      Consult <a href="/releases/rabbitmq-server/">the archive</a> if
      you want to download a version of the RabbitMQ Server other than
      the above.
    </p>

    <h4>Source Code</h4>

    <p>
      For instructions on building the server from the source-code
      bundle in the table above, please see the <a
      href="build-server.html">build page</a>.
    </p>

    <h4>Debian GNU/Linux and Ubuntu Linux</h4>

    <p>
      We recommend that you use your distribution's package manager to
      install the server on your system. Check the <a
      href="http://packages.qa.debian.org/r/rabbitmq-server.html">Debian
      package</a> and <a
      href="https://launchpad.net/ubuntu/+source/rabbitmq-server">Ubuntu
      package</a> details for which version of the server is available
      for which versions of the distribution.
    </p>

    <p>
      In case the current version of the server is not available for
      the chosen distribution version, you can download and install
      the .deb file from the table above. It has been tested against
    </p>
    <ul class="compact">
      <li><a href="http://www.debian.org/">Debian</a> 5.0 (Lenny), and
      testing (Squeeze)</li>
      <li><a href="http://www.ubuntu.com/">Ubuntu</a> 8.10 (Intrepid
      Ibex), 9.04 (Jaunty Jackalope), 9.10 (Karmic Koala) and 10.04
      (Lucid Lynx)</li>
    </ul>

    <p>
      As an alternative to downloading the .deb file you can obtain
      the package from our <a href="debian.html#apt">APT
      repository</a>.
    </p>

    <h4>RPM-based Linux</h4>

    <p>
      For Fedora and RHEL users we recommend to you use the distribution's
      package manager to install the server on your system. Check the
      <a
      href="https://admin.fedoraproject.org/updates/rabbitmq-server">Fedora
      package</a> and <a
      href="http://download.fedora.redhat.com/pub/epel/5/SRPMS/repoview/rabbitmq-server.html">EPEL
      package</a> details for which version of the server is available
      for which versions of the distribution.
    </p>

    <p>
      The Fedora RPM files from the table above have been tested against
    </p>

    <ul class="compact">
      <li><a href="http://fedoraproject.org/">Fedora</a> 10, 11 and 12</li>
      <li><a href="http://www.redhat.com/rhel/">RHEL</a> 5.5 (Fedora RPM)</li>
      <li><a href="http://www.centos.org/">CentOS</a> 5.5 (Fedora RPM)</li>
    </ul>

    <p>
      The openSUSE RPM files are intended for Novell's openSUSE Linux
      and derived distributions (SLES and SLERT).  We haven't tested
      these under recent releases, but expect that they work.
    </p>

    <p>
      If you have success using our RPMs with any other RPM-based
      distribution, please <a href="contact.html">let us know</a>.
    </p>

    <p>
      We strongly recommend using your distribution's packaged version
      of Erlang to run the server. This is part of Fedora, and in <a
      href="http://fedoraproject.org/wiki/EPEL">EPEL</a> for RHEL. To
      enable EPEL on your Red Hat machine, see the <a
      href="http://fedoraproject.org/wiki/EPEL/FAQ#howtouse">EPEL
      FAQ</a>. Then just <code>yum install erlang</code>.
    </p>

    <h4>Mac OS X</h4>

    <p>
      On OS X the server can be installed <a href="macports.html">via
      MacPorts</a>.
    </p>
    <p>
      Alternatively, for users of
      the <a href="http://mxcl.github.com/homebrew/">homebrew</a>
      package manager there is a community-contributed
      <a href="http://github.com/mxcl/homebrew/blob/master/Library/Formula/rabbitmq.rb">'rabbitmq'
      formula</a>.
    </p>

    <h4>Generic Unix</h4>

    <p>
      The architecture-neutral binary package from the table above can
      be used on any Unix or Linux variant.
    </p>

    <h4>Windows Bundle</h4>
    <xi:include href="windows-bundle.xml.inc" xpointer="xmlns(html=http://www.w3.org/1999/xhtml)xpointer(/html:div/*)">
      <xi:fallback><p style="color:red;font-weight:bold">[xinclude failed]</p></xi:fallback>
    </xi:include>

    <h4>Amazon EC2 Bundle</h4>
    <p>
      <a href="ec2.html">Amazon EC2 Images</a> containing Ubuntu 9.10
      (Karmic Koala), both 32 and 64 bit variants, are available for download
      with pre-installed RabbitMQ.
    </p>
    
    <h3>Mercurial repositories</h3>
    <p>
      The RabbitMQ server itself, implemented in Erlang. Depends on the
      code-generation library module. Please see the <a
      href="build.html">build instructions</a>.
    </p>
    
    <repositories xmlns="http://www.rabbitmq.com/namespaces/ad-hoc/conformance">
      <repository type="hg" shortname="rabbitmq-server"
        url="http://hg.rabbitmq.com/rabbitmq-server/"/>
      <repository type="hg" shortname="rabbitmq-codegen"
        url="http://hg.rabbitmq.com/rabbitmq-codegen/"/>
    </repositories>

    <h3>Support</h3>
    <p>
      For help compiling or installing RabbitMQ, or for general queries, please <a href="contact.html"> contact us</a>.
    </p>
  </body>
</html>
