<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {878, 703}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Helvetica</string>
			<key>Size</key>
			<real>15</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{878, 703}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-03-12 16:19:22 +0000</string>
	<key>Creator</key>
	<string>Steve Powell</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{203.716, 153.571}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>461</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>464</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{197.931, 167.245}</string>
										<string>{208.28, 147.402}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>465</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{197.931, 147.402}</string>
										<string>{208.28, 167.245}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>463</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{192.756, 141.732}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>466</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>462</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>460</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{169.7, 221.603}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>454</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>457</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{163.915, 235.277}</string>
										<string>{174.264, 215.434}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>458</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{163.915, 215.434}</string>
										<string>{174.264, 235.277}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>456</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{158.74, 209.764}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>459</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>455</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>453</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{101.669, 221.603}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>447</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>450</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{95.8837, 235.277}</string>
										<string>{106.233, 215.434}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>451</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{95.8837, 215.434}</string>
										<string>{106.233, 235.277}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>449</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{90.7086, 209.764}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>452</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>448</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>446</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{67.6531, 153.571}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>440</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>443</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{61.8678, 167.245}</string>
										<string>{72.2171, 147.402}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>444</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{61.8678, 147.402}</string>
										<string>{72.2171, 167.245}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>442</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{56.6929, 141.732}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>445</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>441</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>439</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{169.7, 85.5398}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>433</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>436</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{163.915, 99.2138}</string>
										<string>{174.264, 79.3708}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>437</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{163.915, 79.3708}</string>
										<string>{174.264, 99.2138}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>435</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{158.74, 73.7008}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>438</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>434</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{101.669, 85.5398}, {11.7177, 11}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.271739</string>
							<key>g</key>
							<string>0.271739</string>
							<key>r</key>
							<string>0.271739</string>
						</dict>
						<key>Font</key>
						<string>Georgia-Italic</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>425</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 ArialRoundedMTBold;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs18 \cf2 F}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>428</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{95.8837, 99.2138}</string>
										<string>{106.233, 79.3708}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>429</integer>
									<key>Notes</key>
									<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
									<key>Points</key>
									<array>
										<string>{95.8837, 79.3708}</string>
										<string>{106.233, 99.2138}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>CornerRadius</key>
											<real>3</real>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Join</key>
											<integer>0</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>427</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{90.7087, 73.7008}, {20.6974, 31.1811}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>430</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>VFlip</key>
							<string>YES</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>426</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>424</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>354</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{98.047, 213.264}</string>
				<string>{66.8622, 166.909}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>304</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{161.24, 221.103}</string>
				<string>{108.216, 221.103}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>343</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{201.094, 170.247}</string>
				<string>{169.409, 217.433}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>137</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{69.5315, 144.732}</string>
				<string>{100.378, 99.547}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>340</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{108.716, 85.0395}</string>
				<string>{158.74, 85.0395}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>331</integer>
			<key>Notes</key>
			<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 Either use lines or regular shapes with a 9 point stroke to create walls}</string>
			<key>Points</key>
			<array>
				<string>{172.578, 101.547}</string>
				<string>{202.594, 147.402}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>3</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>HeadScale</key>
					<real>0.59999990463256836</real>
					<key>Join</key>
					<integer>0</integer>
					<key>TailArrow</key>
					<string>Ball</string>
					<key>TailScale</key>
					<real>0.60000002384185791</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{109.894, 148.74}, {47, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>126</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs16 \cf0 max_hops=5}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{154.236, 104.047}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>356</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{153.071, 68.0315}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>361</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{188.252, 172.079}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>334</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{187.087, 136.063}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>431</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{154.236, 240.11}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>384</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{153.071, 204.094}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>389</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{86.2044, 240.11}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>377</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{85.0394, 204.094}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>382</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{86.2044, 104.047}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>370</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{85.0394, 68.0315}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>375</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52.1886, 172.079}, {8.50394, 8.50394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>363</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{51.0236, 136.063}, {34.0157, 45.3543}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>368</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>5.6692914962768555</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-03-16 16:31:15 +0000</string>
	<key>Modifier</key>
	<string>Steve Powell</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{49, 0}, {1012, 857}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {431.5, 344}}</string>
		<key>Zoom</key>
		<real>2</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>2</real>
				<real>8</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
