<?xml-stylesheet type="text/xml" href="page.xsl"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY % entities SYSTEM "rabbit.ent" >
%entities;
]>
<html xmlns:doc="http://www.rabbitmq.com/namespaces/ad-hoc/doc"
      xmlns:r="http://www.rabbitmq.com/namespaces/ad-hoc/conformance">
  <head>
    <title>RabbitMQ - AMQP server</title>
  </head>
  <body>
    <h2>
      RabbitMQ AMQP server
    </h2>

    <p class="intro">
      Our goal is to streamline the server installation process such
      that you can have RabbitMQ up and running within two minutes of
      completing your download. If this doesn't happen to you, please
      let us know at <a
      href="mailto:legitimategrievance@rabbitmq.com">legitimategrievance@rabbitmq.com</a>!
    </p>
    
    <p>
      The RabbitMQ server is an implementation of an AMQP broker. It
      is written on top of the widely-used <a
      href="faq.html#what-is-otp">Open Telecom Platform</a>, and is
      platform neutral; the binary distributions listed below differ
      only in how they are packaged to conform to various operating
      systems' packaging conventions.
    </p>

    <p>
      In order to compile or run the server, you will need to have
      downloaded and installed Erlang. Your operating system may come
      with a package for working with Erlang, or you may need to <a
      href="http://www.erlang.org/download.html">download and install
      Erlang</a> yourself.
    </p>

    <p>
      Please see the <a href="install.html">Installation
      instructions</a> and our <a href="gettingstarted.html">Getting
      Started</a> page. Additional documentation can be found linked
      from our <a href="documentation.html">documentation page</a>.
    </p>

    <p>
      The current RabbitMQ release implements <a
      href="https://jira.amqp.org/confluence/display/AMQP/Download">AMQP
      protocol version 0-8</a>. Please see the <a
      href="compatibility.html">compatibility</a> page for more
      information on interoperation and standards-conformance.
    </p>

    <p>
      The server is open-source, and is licensed under <a
      href="mpl.html">the Mozilla Public License v1.1</a>.
    </p>

    <h3>
      Status
    </h3>

    <p>
      The current release of RabbitMQ AMQP Server is <b>
      &version-server;</b>, which has <b>beta</b> status.
    </p>

    <h3>
      Download the RabbitMQ AMQP Server
    </h3>

    <p>
      The server is available as source, or compiled in a few
      different forms. Notes on particular operating systems and
      variants can be found below the download table.
    </p>

    <r:downloads>
      <r:download downloadfile="rabbitmq-server-&version-server;.zip"
                  downloadpath="&dir-server;">
	Source code and tools (zip)
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;.tar.gz"
                  downloadpath="&dir-server;">
        Source code and tools (tar.gz)
      </r:download>
      <r:download downloadfile="rabbitmq-server_&version-server;-&serverDebMinorVersion;_all.deb"
		  downloadpath="&dir-server;">
	Packaged as .deb for Debian-based Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-&version-server;-&serverRPMMinorVersion;.noarch.rpm"
		  downloadpath="&dir-server;">
	Packaged as RPM for RPM-based Linux
      </r:download>
      <r:download downloadfile="rabbitmq-server-generic-unix-&version-server;.tar.gz"
		  downloadpath="&dir-server;">
	Packaged for generic Unix systems
      </r:download>
      <r:download downloadfile="rabbitmq-server-windows-&version-server;.zip"
		  downloadpath="&dir-server;">
	Packaged for Windows systems
      </r:download>
    </r:downloads>

    <p>
      Please see <a href="signatures.html">checking signatures</a> for
      details on how to verify the signatures on our packages.
    </p>

    <h4>Source Code</h4>

    <p>
      For instructions on building the server from the source-code
      bundle in the table above, please see the <a
      href="build-server.html">build page</a>.
    </p>

    <h4>Debian GNU/Linux and Ubuntu Linux</h4>
    
    <p>
      The .deb file from the table above has been tested against
    </p>

    <ul class="compact">
      <li><a href="http://www.debian.org/">Debian</a> 4.0 (Etch) and testing (Lenny)</li>
      <li><a href="http://www.ubuntu.com/">Ubuntu</a> 7.10 (Gutsy Gibbon)</li>
    </ul>

    <p>
      As an alternative to downloading the .deb file from the table
      above, you can use our <a href="debian.html#apt">APT
      repository</a>.
    </p>

    <h4>RPM-based Linux</h4>

    <p>
      The RPM file from the table above has been tested against
    </p>

    <ul class="compact">
      <li>
	<a href="http://www.novell.com/products/server/">SLES</a> and
	<a href="http://www.novell.com/products/realtime/">SLERT</a>
	10 SP1
      </li>
      <li><a href="http://www.opensuse.org/">openSUSE</a> 10.3</li>
      <li><a href="http://fedoraproject.org/">Fedora</a> 8</li>
      <li><a href="http://www.redhat.com/rhel/">RHEL</a> 5.1</li>
      <li><a href="http://www.centos.org/">CentOS</a> 5</li>
    </ul>

    <p>
      Our server RPM should be fairly universal - if you have success
      using it with any other RPM-based distribution, please <a
      href="mailto:support@rabbitmq.com">let us know</a>.
    </p>

    <p>
      We strongly recommend using your distribution's packaged version
      of Erlang to run the server. This is part of Fedora, and in <a
      href="http://fedoraproject.org/wiki/EPEL/">EPEL</a> for RHEL. To
      enable EPEL on your Red Hat machine, see the <a
      href="http://fedoraproject.org/wiki/EPEL/FAQ#howtouse">EPEL
      FAQ</a>. Then just <code>yum install erlang</code>.
    </p>

    <h4>Generic Unix</h4>

    <p>
      The architecture-neutral binary package from the table above can
      be used on any Unix or Linux variant.
    </p>

    <h4>Windows</h4>

    <p>
      As an alternative to the binary package listed in the table
      above, we also offer a <a href="download.html#bundle">complete
      Windows bundle</a>, containing server and client packages as
      well as the Erlang/OTP system installer.
    </p>
    
    <h3>Mercurial repositories</h3>
    <p>
      The AMQP server itself, implemented in Erlang. Depends on the
      code-generation library module. Please see the <a
      href="build.html">build instructions</a>.
    </p>
    
    <repositories xmlns="http://www.rabbitmq.com/namespaces/ad-hoc/conformance">
      <repository type="hg" shortname="rabbitmq-server"
        url="http://hg.rabbitmq.com/rabbitmq-server/"/>
      <repository type="hg" shortname="rabbitmq-codegen"
        url="http://hg.rabbitmq.com/rabbitmq-codegen/"/>
    </repositories>
    

    <h3>Support</h3>

    <p>
      For help compiling or installing RabbitMQ, please contact <a
      href="mailto:support@rabbitmq.com">support@rabbitmq.com</a>.
      Contact <a href="mailto:info@rabbitmq.com">info@rabbitmq.com</a>
      for general RabbitMQ queries. You can also 
      <a href="http://lists.rabbitmq.com">join our mailing list.</a>
    </p>
  </body>
</html>
