/* 8a948f - 150 7 58 */
/* a9b5af - 150 7 71 */
/* old visited color: #c40; */
html {
overflow-x:auto;
overflow-y:scroll;
}

body, table {
	font: 13px/18px Verdana, sans-serif;
	color: #555;
	background-color: #fff;
}

body {
	margin: 0px;
	text-align: center;
}

div#outerContainer {
	text-align: left;
	clear: both;
	margin: 0 auto;
	width: 960px;
	padding: 1px;
}

:link, :visited {
	color: #444;
	text-decoration: none;
	font-weight: bold;
}

a:active, a:hover {
	color: #ff9933;
	text-decoration: underline;
}

:link img, :visited img {
	border: 0;
}

h1, h2, h3  {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0 ;
}

h1 {
	color: #f60;
	margin: 10px 0 0 0;
	float: left;
	height: 42px;
}

div.s2-logo {
	float:right;
	margin: 10px 0 0 0;
	height: 70px;
}

div#search-box {
	float: right;
	clear: right;
	background: url('../img/search-box.png') no-repeat;
	height: 26px;
	width: 191px;
	padding: 4px 10px 0px 10px;
}

input#search-query {
	float: left;
	height: 17px;
	width: 172px;
	border: none;
	color: #8a948f;
	font-size: 12px;
}

input#search-query.focus {
	color: #000;
}

input#search-button {
	cursor: pointer;
	height: 17px;
	width: 17px;
	background: url('../img/button-search.png') no-repeat;
	border: none;
}

* html input#search-button {
	/* IE6 and lower only */
	margin-top: -23px;
	margin-left: 175px;
}

dd p {
	margin: 0 0 5px 0;
}

h2 a {
	color: #f60;
      }

h2 {
	color: #f60;
	font-size: 1.7em;
	}

h3 {
	color: #f60;
	font-size: 1.2em;
	}

.col {
	float: left;
	width: 49.5%;
	background: url(../img/listBg.gif) Repeat-X top right;
	margin: 0.5ex 0 2ex 0;
	padding: 0;
	}

.col div.col {
	background: url(../img/listBg.gif) Repeat-X top right;
	width: 100% !important;
	margin: 0.5ex 0 2ex 0;
	padding: 0;
}

.columnLeft {
	float: left;
}
.columnRight {
	float: right;
}

.columnRight ul, .columnLeft ul,
.columnRight ol, .columnLeft ol {
	padding: 0 0 0 0 ;
}
.col .feed li {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.col .feed li .date {
	float: right;
	color: #A9B5AF;
}
.col h3 {
	margin: 0 1em 0 0;
	padding: 10px;
        background: url(../img/listBg.gif) Repeat-X top left;
}

.col h3 a.more-links {
	float: right;
	font-size: 12px;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0 2em 0 0 ;
	}
	
li {
	list-style-type: none; 
	background: url(../img/li.gif) no-repeat 1px 12px;
	margin: 0;
	padding: 6px 0 2px 10px;
}
		
ol.plain, ul.plain {
	margin: 5px 0px 0px 10px;	
	padding: 0px 0px 0px 0px;
}

ol.plain li, ul.plain li {
	background: none;
	margin: 0px 0px 0px 10px;	
	padding: 0px 0px 0px 0px;
	border-bottom: none;
}
ul.plain li {
	list-style-type : disc !important;	
}
ol.plain li {
	list-style-type : decimal !important;	
}
	
.col li {
	border-bottom: #e4e4e4 1px solid;
}
ul.partners li {
	list-style-type : none;
	padding-left: 300px;
	background: none;
}
li#canonical {
	background: url(../img/canonical.png) no-repeat 1px 22px;
}
li#microsoft {
	background: url(../img/microsoft.png) no-repeat 1px 22px;
}
li#vmware {
	background: url(../img/vmware-small.png) no-repeat 1px 22px;
}
li#kaazing {
	background: url(../img/kaazing.png) no-repeat 1px 22px;
}
li#novell {
	background: url(../img/novell.png) no-repeat 1px 22px;
}
li#terracotta {
	background: url(../img/terracotta.png) no-repeat 1px 22px;
}
p {
	clear:left;
	}
	
.logos {
	text-align: center;
	margin-top: 3ex;
	}

.logos img {
	padding: 0 20px;}

b, strong, .intro {
	color: black;
	font-weight: normal;
}
.clear {
	clear:both;
}
.p {
	float:right;
}
.lft {
	clear:left;
}
.document h2, h3 {
	margin-top: 1.3em;
}
.document li {
	border: none;
}

div.docRoadmapentryHeading {
	font-weight: bold;
	margin-top: 1em;
}

ul.mainNav {
	text-align: left;
	padding-top: 45px;
	height: 21px;
	clear: left;
}

.mainNav li {
	display: inline;
	border: none;
	background: white;
        padding: 0 2em 0 0;
	margin: 1px;
	text-decoration: none;
}
.mainNav :link, .mainNav :visited {
	/* color: #a9b5af; */
	color: #8a948f;
	text-decoration: none;
	font-weight: bold;
}
.mainNav :hover, .mainNav :active {
	color: #ff9933;
	text-decoration: underline;
}

hr {
	clear: both;
	visibility: hidden;
}

hr.pad {
	margin: 0px 0px 21px 0px;
	padding: 0px;
}
div.nav-separator {
	clear: both;
	border-top: #FF8C00 1px solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 0px 0px 21px 0px;
	padding: 0px;
}
.compact li {
	padding-bottom: 0em;
}
.compact {
	padding-bottom: 1ex;
}

.compact ul.compact {
	padding-bottom: 0ex;
}

.docToc {
	border: #e4e4e4 1px solid;
	padding: 1em;
}

.docToc h1, .docToc h2, .docToc h3 {
	margin: 0em;
}

.faqHeading {
	border-top: #e4e4e4 1px solid;
	margin-top: 1em;
	padding-top: 1em;
	color: #f60;
	font-weight: bold;
}

.faqQuestion {
	font-style: italic;
}

.faqAnswer {
	margin-left: 0em;
}

span.code, pre.code {
	color: darkcyan;
	background: #f6fcb0;
	padding: 0 5px 0 5px;
}

span.code {
  white-space: nowrap;
}
span.envvar {
  color: black;
  white-space: nowrap;
}
span.path{
	white-space: nowrap;
}
.sourcecode {
	padding: 1em;
	background: #f6fcb0;
}

.sourcecode i {
	color: darkred;
}

.sourcecode b {
	color: darkcyan;
}

.ec2_sourcecode {
	padding: 1em;
	background: #66fcb0;
}

.docSection div.cmdsynopsis {
	color: darkcyan;
	background: #f6fcb0;
	padding: 5px 5px;
	margin: 10px 0 5px 0;
}

.docSection div.cmdsynopsis p {
	margin: 0;
}
.docSection div.cmdsynopsis span.command {
	color: darkred;
}

.docSection pre.sourcecode {
	background: none;
	padding: 5px 0;
}

table {
	width: 100%;
	border-top: #e4e4e4 1px solid;
	border-left: #e4e4e4 1px solid;
}

th, td {
	border-bottom: #e4e4e4 1px solid;
	border-right: #e4e4e4 1px solid;
	text-align: left;
	padding: 2px 0.5em 2px 0.5em;
}

tr {
	vertical-align: top;
}

.highlights {
  border: #8a948f 4px solid;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
}
	
td.desc, th.desc {
  width:350px;
}

td.signature, th.signature {
  width:80px;
}

.signature a {
  font-weight: normal;
  font-size: 80%;
}

.amqpRules th, .amqpRules td {
	vertical-align: top;
}
.amqpRules .notes {
	font-style: italic;
}
.amqpRules .notes .leader {
	font-weight: bold;
}
.amqpRules .statusCell 			{background: #ccc;}
.amqpRules .status_ok 			{background: #0c0;}
.amqpRules .status_planned 		{background: #cf0;}
.amqpRules .status_partial 		{background: #cf0;}
.amqpRules .status_invalid 		{background: #cf0;}
.amqpRules .status_unsupported 	{background: #fc0;}
.amqpRules .status_deprecated 	{background: #fc0;}
.amqpRules .status_failing 		{background: #c00; color: white;}

.platformHighlight {
	background: #f6fcb0;
}

.pageFooter {
	color: #a9b5af;
	text-align: left;
	border-top: #e4e4e4 1px solid;
	margin-top: 21px;
	font-size: 95%;
	height: 128px;
}

.pageFooter p.righter {
   float: right;
}

.pageFooter a {
   font-weight: normal;
}

ol.feed {
	margin: 0px;
	padding: 0px;
}

.feed li {
	line-height: 17px;
	padding-bottom: 0px;
	margin-bottom: 0px;
  }
  
.feed li hr {
	visibility: visible;
	border: none;
	height: 1px;
	margin-top: 2em;
	margin-bottom: 1em;
	background-color: #e4e4e4;
}

.feed li .feed-item-title {
	float: left;
	font-weight: bold;
	color: #8a948f;
}

.feed li .feed-item-date {
	float: right;
	color: #8a948f;
	font-weight: bold;
}
.downloadlabel {
	font-size: 120%;
	font-weight: bold;
	background: #f6fcb0;
}
.downloadlabel a {
	color: #444;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
}

.subscribe {
        float: right;
}
table.gsc-search-box th,
table.gsc-search-box td  {
	border: none;
}
div#promo {
	background-color: #FA8800;
	color: #fff;
	float: right;
	width: 200px;
	padding: 10px 0px 10px 0px;
	margin: 0 0px 10px 10px;
	display: none;
}
div#promo p {
	margin: 10px 10px 15px 10px;
}
div#promo p.quote {
	font-weight: bold;
	margin-bottom: 5px;
}
div#promo p.quote-credit a {
	color: #fff;
	font-weight: bold;
}
div.rgt-third {
	width: 320px;
	float: right;
}
div.rgt-third p,
div.rgt-third h3,
div.rgt-third ol {
    margin-left: 30px;
}
p.button {
	text-align: center;
	font-size: 18px;
	margin:  0px 0 0px 0px;
}

p.button a {
        background-color: #f93;
	padding: 21px 0 21px 0px;
	margin: 21px 0 21px 0px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-radius:10px;
	-moz-border-radius:10px;
}

p.button a:hover {
   background-color: #f60;
   color: white;
}

p.warning { 
	color: black; 
	background: #ff8; 
	border: 2px solid #880;
	font-weight: bold; 
	margin: 20px; 
	padding: 15px; 
	border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center; 
}

#getting_here address {
  float: left;
  padding-right: 50px;
}

#map_canvas {
  width:400px;
  height:250px;
  float: left;
}

#changelog  { width: auto; clear: both; }

#changelog td { background-color: #f7f7f7; }

