/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff6600;
  --ifm-color-primary-dark: #e65c00;
  --ifm-color-primary-darker: #d95700;
  --ifm-color-primary-darkest: #b34700;
  --ifm-color-primary-light: #ff751a;
  --ifm-color-primary-lighter: #ff7d26;
  --ifm-color-primary-lightest: #ff944d;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff6600;
  --ifm-color-primary-dark: #e65c00;
  --ifm-color-primary-darker: #d95700;
  --ifm-color-primary-darkest: #b34700;
  --ifm-color-primary-light: #ff751a;
  --ifm-color-primary-lighter: #ff7d26;
  --ifm-color-primary-lightest: #ff944d;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
